In [1]:
def daytype2number(x):
    return {
        'normal': 0,
        'partial': 1,
        'off': 2,
    }[x]

In [2]:
import os
import pickle
import pandas as pd
import numpy as np
import datetime, time

data_dir ='/data/CS120/'
weather_dir ='/data/CS120Weather/'
csv_file = '../CS120/general/timezones.csv'
# data_dir = '../../../Data/depression2016/CS120Data/CS120/'
# csv_file = '../../../Data/depression2016/CS120Data/timezones.csv'
# weather_dir ='../../../Data/depression2016/CS120Weather/'

subjects = os.listdir(data_dir)
timezones = pd.read_csv(csv_file,sep='\t',header=None)

In [7]:
# subjects = subjects[:2]

ind_nan = np.where(np.isnan(timezones[1]))[0]
timezones.loc[ind_nan,1]=0

acts = []
emas = []
emss = []
wtrs =[]
subjects_edited = []

for (cnt,subj) in enumerate(subjects):
    
    print(cnt,subj,)
    
    if subj=='1515656':
        print('subject skipped due to spoofed gps data')
        continue
    
    subjects_edited.append(subj)
    
    act = pd.DataFrame(columns=['date','act'], dtype=float)
    if os.path.exists(data_dir+subj+'/act.csv'):
        data = pd.read_csv(data_dir+subj+'/act.csv',sep='\t',header=None)
        # convert timestamps to daystamps
        data[0] = np.floor((data[0]+ 3600*float(timezones.loc[timezones[0]==subj,1]))/86400.0)
        # loading into new matrix
        act['date'] = np.arange(data.loc[0,0],data.loc[data.shape[0]-1,0])
        for (i,da) in enumerate(act['date']):
             act.loc[i,'act'] = np.sum(data.loc[data[0]==da,1]=='BIKING')+np.sum(data.loc[data[0]==da,1]=='ON_FOOT')
    else:
        print(' no act data')
    acts.append(act)

    ema = pd.DataFrame(columns=['date','stress','mood','energy','focus'], dtype=float)
    if os.path.exists(data_dir+subj+'/emm.csv'):
        data = pd.read_csv(data_dir+subj+'/emm.csv',sep='\t',header=None)
        # convert timestamps to daystamps
        data[0] = np.floor((data[0]+ 3600*float(timezones.loc[timezones[0]==subj,1]))/86400.0)
        # loading into new matrix
        ema['date'] = np.arange(data.loc[0,0],data.loc[data.shape[0]-1,0])
        for (i,da) in enumerate(ema['date']):
            ema.loc[i,'stress'] = np.nanmean(data.loc[data[0]==da,1])
            moods = data.loc[data[0]==da,2]
            ema.loc[i,'mood'] = np.nanmean(moods)
            ema.loc[i,'energy'] = np.nanmean(data.loc[data[0]==da,3])
            ema.loc[i,'focus'] = np.nanmean(data.loc[data[0]==da,4])
    else:
        print(' no ema data')
    emas.append(ema)
    
    ems = pd.DataFrame(columns=['date','duration','quality','daytype'], dtype=float)
    if os.path.exists(data_dir+subj+'/ems.csv'):
        data = pd.read_csv(data_dir+subj+'/ems.csv',sep='\t',header=None)
        # convert timestamps to daystamps
        data[0] = np.floor((data[3]/1000.0+3600*float(timezones.loc[timezones[0]==subj,1]))/86400.0)
        # loading into new matrix
        ems['date'] = np.arange(data.loc[0,0],data.loc[data.shape[0]-1,0])
        for (i,da) in enumerate(ems['date']):
            ems.loc[i,'duration'] = np.nanmean(data.loc[data[0]==da,3]-data.loc[data[0]==da,2])/1000.0
            qual = np.array(data.loc[data[0]==da,5])
            # if multiple entries, only take the first one
            if qual.size>1:
                ems.loc[i,'quality'] = qual[0]
            else:
                ems.loc[i,'quality'] = np.nanmean(qual)
            daytype = data.loc[data[0]==da,6]
            if daytype.size>0:
                ems.loc[i,'daytype'] = daytype2number(daytype.values[0])
            else:
                ems.loc[i,'daytype'] = np.nan
    else:
        print(' no ems data')
    emss.append(ems)
        
    wtr = pd.DataFrame(columns=['date','mean_temp','clear'], dtype=float)
    if os.path.exists(weather_dir+subj+'/wtr.csv') and  os.stat(weather_dir+subj+'/wtr.csv').st_size > 0:
        data = pd.read_csv(weather_dir+subj+'/wtr.csv',sep='\t',header=None)
        # convert timestamps to daystamps
        data[0] = np.floor((data[0]+3600*float(timezones.loc[timezones[0]==subj,1]))/86400.0)
        # loading into new matrix
        wtr['date'] = np.arange(data.loc[0,0],data.loc[data.shape[0]-1,0])
        for (i,da) in enumerate(wtr['date']):
            # wrt.loc[i,'duration'] = np.nanmean(data.loc[data[0]==da,1])/1000.0
            tmptemp = np.array(data.loc[data[0]==da,1])
            tmpclear = np.array(data.loc[data[0]==da, 9])

            # take the mean of multiple entries
            if tmptemp.size>0:
                wtr.loc[i,'mean_temp'] = np.nanmean(tmptemp)
                wtr.loc[i, 'clear'] = np.sum(tmpclear=='Clear');
    else:
        print(' no weather data')
    wtrs.append(wtr)
    
subjects = subjects_edited

0 EW057EV

/usr/local/lib/python3.4/dist-packages/numpy/core/fromnumeric.py:2889: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/lib/python3.4/dist-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

1 MQ077WG
2 1203725
3 BD921DW
4 1573207
 no act data
5 1578395
6 1464458
7 1135515
8 1183252
9 1521517
10 1210517
11 FM387DI
 no weather data
12 952207
13 1142152
14 984221
15 1553373
16 1244644
 no act data
17 1327952
18 1524496
19 1559190
20 1130955
21 1535103
22 1381257
23 1041667
24 1055808
25 1483186
26 1054952
27 1197009
28 1385032
29 IK750RN
30 IP417XX
31 1564420
32 1288818
33 1571376
34 1567871
35 1328568
36 1374066
37 EW057DI
 no act data
 no ema data
 no ems data
 no weather data
38 1536580
39 XF600QF
40 1208813
41 1114936
42 1165040
 no act data
43 25349
44 1234088
45 827285
46 FJ227MJ
47 1124659
48 1422927
49 1270329
50 1219403
51 345921
52 1367477
53 1505268
54 1579481
55 HH880DL
56 HE593LT
 no weather data
57 WT253RB
58 606449
59 UQ050PR
 no weather data
60 1549226
61 1312819
62 428255
 no act data
63 1013558
64 1425272
65 1428949
 no act data
66 1524947
67 1533327
68 1305690
69 1084240
70 831987
71 1079411
72 1496251
 no weather data
73 1078563
 no act data
74 872451
75 QC647KS
 no act data
76 249499
77 828778
78 1143410
79 506107
 no act data
80 616751
81 1569370
82 1503395
83 1388630
84 1145713
85 1497026
86 1444502
87 820387
88 1097633
89 1128660
 no act data
90 1147164
91 856513
 no act data
92 1041304
93 1307868
94 1189725
95 920558
96 62977
97 1355344
 no act data
98 575209
99 1179075
100 IQ300QN
101 1272711
102 1184498
103 DB233EI
104 1022235
105 1299151
 no act data
106 871322
107 1560722
108 433874
 no act data
109 1557966
110 906629
111 636646
112 1401878
113 489868
114 964685
115 1336140
116 1155329
117 1567198
118 560623
119 98384
120 TP903SN
121 1213494
 no act data
122 HU113HP
123 1051651
124 1495360
125 97397
126 1411525
127 CB832WW
128 QE210HJ
129 1217425
130 1213535
 no act data
131 1057121
132 510909
 no act data
133 1370566
134 NJ280ID
 no act data
135 1537431
136 1213906
137 CP140WM
138 1130163
139 1294671
140 1569348
141 1002060
142 1225160
143 1328707
144 HI713WB
145 1150915
146 1170978
147 1255682
148 564447
149 1126979
150 1307899
151 1080326
152 765488
153 1027472
154 1164303
155 JK130XR
156 662410
157 AC363GY
158 QG620BT
159 1334243
160 JS253NF
161 1439160
162 733021
163 411896
164 1495049
165 1560782
166 1523880
167 1126438
168 SP157RF
169 555220
170 BJ540PT
171 1515656
subject skipped due to spoofed gps data
172 639010
173 1380734
174 391378
175 1382086
 no act data
176 1531633
177 NQ003SV
178 1207041
179 1565499
180 JB320SW
181 1403756
182 919141
183 1550259
184 106743
185 1177977
186 39468
187 1199841
188 913164
 no weather data
189 1178484
190 1148714
191 1479464
192 1553904
193 630742
194 1401811
195 1433908
196 1157796
197 1229114
 no act data
198 XU620RL
199 1407619
200 1409046
201 1056017
202 1230637
203 38880
204 1061128
205 CL263NI
206 1186533
207 619634

In [8]:
# aligning the data

data = []
for (i,_) in enumerate(subjects):
    
    a = pd.merge(emas[i],emss[i],on='date',how='outer')
    a = pd.merge(a,acts[i],on='date',how='outer')
    a = pd.merge(a,wtrs[i], on='date', how='outer')
    
    # delayed (-1)
    emas[i]['date'] += 1
    emss[i]['date'] += 1
    acts[i]['date'] += 1
    wtrs[i]['date'] += 1
    emas[i].columns = ['date','stress_prev','mood_prev','energy_prev','focus_prev']
    emss[i].columns = ['date','duration_prev','quality_prev','daytype_prev']
    acts[i].columns = ['date','act_prev']
    wtrs[i].columns = ['date','mean_temp_prev', 'clear_prev']
    a = pd.merge(a,emas[i],on='date',how='outer')
    a = pd.merge(a,emss[i],on='date',how='outer')
    a = pd.merge(a,acts[i],on='date',how='outer')
    a = pd.merge(a,wtrs[i], on='date', how='outer')

    # removing extra columns
    emss[i] = emss[i].drop(['duration_prev','daytype_prev'], axis=1)
    
    # delayed (-2)
    emas[i]['date'] += 1
    emss[i]['date'] += 1
    acts[i]['date'] += 1
    wtrs[i]['date'] += 1
    emas[i].columns = ['date','mood_prev2','stress_prev2','energy_prev2','focus_prev2']
    emss[i].columns = ['date','quality_prev2']
    acts[i].columns = ['date','act_prev2']
    wtrs[i].columns = ['date','mean_temp_prev2', 'clear_prev2']
    a = pd.merge(a,emas[i],on='date',how='outer')
    a = pd.merge(a,emss[i],on='date',how='outer')
    a = pd.merge(a,acts[i],on='date',how='outer')
    a = pd.merge(a,wtrs[i],on='date',how='outer')

    # removing extra columns
    emas[i] = emas[i].drop(['stress_prev2','energy_prev2','focus_prev2'], axis=1)
    
    # delayed (-3)
    emas[i]['date'] += 1
    emss[i]['date'] += 1
    emas[i].columns = ['date','mood_prev3']
    emss[i].columns = ['date','quality_prev3']
    a = pd.merge(a,emas[i],on='date',how='outer')
    a = pd.merge(a,emss[i],on='date',how='outer')

    # delayed (-4) - for mood only
    emas[i]['date'] += 1
    emas[i].columns = ['date','mood_prev4']
    a = pd.merge(a,emas[i],on='date',how='outer')
    
    data.append(a)

In [10]:
# add day of the week and write to disk

import datetime as dt
import calendar

for (i,_) in enumerate(subjects):
    ts =data[i].date*86400
    #tmp =dt.datetime.fromtimestamp().day
    data[i]['dow']=[dt.datetime.fromtimestamp(t).weekday() for t in ts]
    
with open('data.dat','wb') as f:
    pickle.dump([data, subjects], f)
f.close()

In [11]:
data[0]

,date,stress,mood,energy,focus,duration,quality,daytype,act,mean_temp,...,energy_prev2,focus_prev2,quality_prev2,act_prev2,mean_temp_prev2,clear_prev2,mood_prev3,quality_prev3,mood_prev4,dow
0,16783.0,2.000000,1.000000,1.000000,2.000000,15600.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
1,16784.0,2.000000,3.666667,2.000000,2.333333,56400.0,1.0,0.0,103.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,16785.0,2.000000,3.666667,1.666667,1.666667,20400.0,1.0,0.0,31.0,NaN,...,1.000000,2.000000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1
3,16786.0,2.000000,3.333333,2.000000,2.000000,20700.0,1.0,0.0,28.0,NaN,...,2.000000,2.333333,1.0,103.0,NaN,NaN,2.000000,0.0,NaN,2
4,16787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,...,1.666667,1.666667,1.0,31.0,NaN,NaN,2.000000,1.0,2.000000,3
5,16788.0,1.333333,2.333333,1.777778,2.222222,30900.0,4.0,2.0,53.0,NaN,...,2.000000,2.000000,1.0,28.0,NaN,NaN,2.000000,1.0,2.000000,4
6,16789.0,2.666667,3.000000,2.333333,2.666667,24600.0,2.0,2.0,41.0,NaN,...,NaN,NaN,NaN,45.0,NaN,NaN,2.000000,1.0,2.000000,5
7,16790.0,2.000000,3.333333,2.333333,2.000000,23100.0,2.0,0.0,48.0,NaN,...,1.777778,2.222222,4.0,53.0,NaN,NaN,NaN,NaN,2.000000,6
8,16791.0,0.666667,0.666667,0.666667,0.666667,65700.0,1.0,0.0,20.0,NaN,...,2.333333,2.666667,2.0,41.0,NaN,NaN,1.333333,4.0,NaN,0
9,16792.0,1.000000,1.500000,1.000000,1.500000,24000.0,2.0,0.0,35.0,NaN,...,2.333333,2.000000,2.0,48.0,NaN,NaN,2.666667,2.0,1.333333,1
10,16793.0,1.333333,3.000000,1.333333,4.000000,52500.0,0.0,1.0,45.0,NaN,...,0.666667,0.666667,1.0,20.0,NaN,NaN,2.000000,2.0,2.666667,2
11,16794.0,2.000000,2.000000,1.000000,4.000000,20040.0,1.0,2.0,19.0,NaN,...,1.000000,1.500000,2.0,35.0,NaN,NaN,0.666667,1.0,2.000000,3
12,16795.0,2.666667,4.000000,3.000000,3.333333,18000.0,2.0,2.0,51.0,NaN,...,1.333333,4.000000,0.0,45.0,NaN,NaN,1.000000,2.0,0.666667,4
13,16796.0,3.000000,3.666667,3.333333,3.666667,27300.0,3.0,2.0,32.0,NaN,...,1.000000,4.000000,1.0,19.0,NaN,NaN,1.333333,0.0,1.000000,5
14,16797.0,2.333333,1.666667,1.333333,2.000000,64500.0,2.0,0.0,74.0,NaN,...,3.000000,3.333333,2.0,51.0,NaN,NaN,2.000000,1.0,1.333333,6
15,16798.0,1.333333,2.000000,1.333333,1.333333,24000.0,1.0,0.0,31.0,NaN,...,3.333333,3.666667,3.0,32.0,NaN,NaN,2.666667,2.0,2.000000,0
16,16799.0,0.333333,1.666667,1.000000,1.000000,59700.0,1.0,0.0,46.0,NaN,...,1.333333,2.000000,2.0,74.0,NaN,NaN,3.000000,3.0,2.666667,1
17,16800.0,0.000000,0.500000,0.000000,0.000000,21600.0,0.0,1.0,141.0,NaN,...,1.333333,1.333333,1.0,31.0,NaN,NaN,2.333333,2.0,3.000000,2
18,16801.0,1.000000,2.000000,0.750000,1.500000,36600.0,4.0,2.0,55.0,NaN,...,1.000000,1.000000,1.0,46.0,NaN,NaN,1.333333,1.0,2.333333,3
19,16802.0,0.333333,0.666667,0.666667,1.000000,22500.0,1.0,2.0,14.0,NaN,...,0.000000,0.000000,0.0,141.0,NaN,NaN,0.333333,1.0,1.333333,4
20,16803.0,0.500000,1.000000,1.500000,1.000000,23460.0,1.0,2.0,16.0,NaN,...,0.750000,1.500000,4.0,55.0,NaN,NaN,0.000000,0.0,0.333333,5
21,16804.0,1.000000,2.000000,1.000000,1.333333,28500.0,1.0,0.0,21.0,NaN,...,0.666667,1.000000,1.0,14.0,NaN,NaN,1.000000,4.0,0.000000,6
22,16805.0,1.666667,2.000000,1.333333,2.333333,27000.0,1.0,0.0,20.0,NaN,...,1.500000,1.000000,1.0,16.0,NaN,NaN,0.333333,1.0,1.000000,0
23,16806.0,1.000000,1.500000,1.500000,1.000000,26100.0,0.0,0.0,36.0,NaN,...,1.000000,1.333333,1.0,21.0,NaN,NaN,0.500000,1.0,0.333333,1
24,16807.0,2.250000,2.250000,1.500000,2.250000,24450.0,0.0,0.0,23.0,6.971429,...,1.333333,2.333333,1.0,20.0,NaN,NaN,1.000000,1.0,0.500000,2
25,16808.0,2.333333,1.666667,1.333333,2.000000,24600.0,3.0,0.0,110.0,7.108696,...,1.500000,1.000000,0.0,36.0,NaN,NaN,1.666667,1.0,1.000000,3
26,16809.0,3.000000,3.666667,2.666667,3.333333,31200.0,3.0,2.0,38.0,6.930000,...,1.500000,2.250000,0.0,23.0,6.971429,0.0,1.000000,0.0,1.666667,4
27,16810.0,2.000000,3.666667,1.333333,4.000000,19800.0,2.0,2.0,32.0,6.995833,...,1.333333,2.000000,3.0,110.0,7.108696,0.0,2.250000,0.0,1.000000,5
28,16811.0,4.000000,4.000000,2.000000,5.000000,21060.0,2.0,0.0,21.0,6.588235,...,2.666667,3.333333,3.0,38.0,6.930000,2.0,2.333333,3.0,2.250000,6
29,16812.0,3.000000,3.666667,2.666667,3.000000,23700.0,4.0,0.0,25.0,6.900000,...,1.333333,4.000000,2.0,32.0,6.995833,0.0,3.000000,3.0,2.333333,0
30,16813.0,2.666667,3.000000,2.000000,3.333333,20700.0,2.0,0.0,30.0,6.800000,...,2.000000,5.000000,2.0,21.0,6.588235,0.0,2.000000,2.0,3.000000,1
31,16814.0,3.333333,3.333333,2.333333,3.666667,20100.0,1.0,0.0,69.0,7.009091,...,2.666667,3.000000,4.0,25.0,6.900000,0.0,4.000000,2.0,2.000000,2
32,16815.0,3.666667,3.666667,3.333333,3.333333,21000.0,2.0,0.0,45.0,6.984615,...,2.000000,3.333333,2.0,30.0,6.800000,0.0,3.000000,4.0,4.000000,3
33,16816.0,2.666667,3.666667,2.333333,3.333333,24300.0,3.0,2.0,81.0,7.550000,...,2.333333,3.666667,1.0,69.0,7.009091,0.0,2.666667,2.0,3.000000,4
34,16817.0,3.000000,4.333333,2.000000,3.000000,27900.0,3.0,2.0,50.0,8.250000,...,3.333333,3.333333,2.0,45.0,6.984615,1.0,3.333333,1.0,2.666667,5
35,16818.0,2.333333,2.666667,2.000000,2.000000,24300.0,3.0,0.0,27.0,7.178261,...,2.333333,3.333333,3.0,81.0,7.550000,2.0,3.666667,2.0,3.333333,6
36,16819.0,2.000000,2.500000,2.000000,2.000000,NaN,NaN,NaN,25.0,6.995833,...,2.000000,3.000000,3.0,50.0,8.250000,0.0,2.666667,3.0,3.666667,0
37,16820.0,4.000000,4.000000,2.333333,3.333333,19800.0,3.0,0.0,41.0,6.361111,...,2.000000,2.000000,3.0,27.0,7.178261,0.0,3.000000,3.0,2.666667,1
38,16821.0,3.666667,4.333333,2.666667,3.666667,22500.0,3.0,0.0,33.0,6.652381,...,2.000000,2.000000,NaN,25.0,6.995833,0.0,2.333333,3.0,3.000000,2
39,16822.0,2.000000,2.500000,2.500000,2.000000,21000.0,3.0,0.0,54.0,6.538462,...,2.333333,3.333333,3.0,41.0,6.361111,0.0,2.000000,NaN,2.333333,3
40,16823.0,3.250000,4.750000,2.250000,3.500000,25800.0,2.0,2.0,18.0,8.023077,...,2.666667,3.666667,3.0,33.0,6.652381,0.0,4.000000,3.0,2.000000,4
41,16824.0,2.750000,3.500000,2.250000,2.250000,21000.0,4.0,2.0,30.0,7.457143,...,2.500000,2.000000,3.0,54.0,6.538462,0.0,3.666667,3.0,4.000000,5
42,16825.0,2.000000,4.000000,1.500000,3.000000,27660.0,3.0,0.0,48.0,6.855000,...,2.250000,3.500000,2.0,18.0,8.023077,0.0,2.000000,3.0,3.666667,6
43,16826.0,3.666667,4.000000,2.666667,2.666667,22620.0,4.0,0.0,28.0,7.226667,...,2.250000,2.250000,4.0,30.0,7.457143,0.0,3.250000,2.0,2.000000,0
44,16827.0,2.000000,2.666667,1.666667,2.000000,22500.0,3.0,0.0,20.0,8.171429,...,1.500000,3.000000,3.0,48.0,6.855000,0.0,2.750000,4.0,3.250000,1
45,16828.0,2.333333,3.666667,1.666667,2.000000,25920.0,2.0,0.0,31.0,6.668182,...,2.666667,2.666667,4.0,28.0,7.226667,0.0,2.000000,3.0,2.750000,2
46,16829.0,4.000000,5.000000,3.000000,4.000000,27600.0,3.0,0.0,62.0,6.507692,...,1.666667,2.000000,3.0,20.0,8.171429,0.0,3.666667,4.0,2.000000,3
47,16830.0,4.666667,5.333333,3.333333,4.333333,18000.0,4.0,2.0,30.0,7.034783,...,1.666667,2.000000,2.0,31.0,6.668182,0.0,2.000000,3.0,3.666667,4
48,16831.0,5.333333,5.666667,4.333333,3.666667,24000.0,4.0,2.0,57.0,8.092857,...,3.000000,4.000000,3.0,62.0,6.507692,0.0,2.333333,2.0,2.000000,5
49,16832.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.333333,4.333333,4.0,30.0,7.034783,0.0,4.000000,3.0,2.333333,6
50,16833.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.333333,3.666667,4.0,57.0,8.092857,0.0,4.666667,4.0,4.000000,0
51,16834.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.333333,4.0,4.666667,1
52,16835.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.333333,2